@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}

.quotes-bar {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 25px;

    &_container {
        display: block;
        width: 200%;
        height: 30px;

        position: absolute;
        overflow: hidden;

        animation: marquee 30s linear infinite;
    }

    .quotes {
        float: left;
        width: 50%;
    }

    .quote {
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }

        &_message {
            font-weight: 600;
        }
    }
}
