.bignav {
    width: 100%;
    padding-top: 5px;

    .title {
        text-align: center;

        color: rgba($color: #000000, $alpha: 0.6);

        font-size: 30pt;
        font-weight: 400;
        font-family: 'Nanum Myeongjo', serif;
    }
}
