.post {

    $block: &;

    display: flex;
    flex-direction: row;

    &-primary {
        position: relative;

        a:first-of-type {
            width: 100%;
        }

        #{$block}_img {
            width: 100%;
            height: 600px;

            filter: brightness(60%);
        }

        #{$block}_info {
            position: absolute;
            bottom: 0;

            color: rgba($color: #ffffff, $alpha: 0.8);
        }

        #{$block}_title {
            font-size: 30pt;
            font-weight: 700;
            color: #ffffff;
        }
    }

    &_img {
        width: 200px;
        height: 125px;

        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &_info {
        margin-left: 10px;

        display: flex;
        flex-direction: column;

        color: rgba($color: #000000, $alpha: 0.7);
        font-size: 11pt;
    }

    &_title {
        font-family: 'Work Sans', sans-serif;
        margin-bottom: 3px;

        color: #000000;
        font-size: 18pt;
        font-weight: 500;
    }
}
