body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1600px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.login_title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 23pt;
}
.login_subtitle {
  text-align: center;
  font-size: 11pt;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 20px;
}
.login_container {
  z-index: 10;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  border-radius: 4px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}
.login_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.login_form_field {
  margin-bottom: 5px;
  outline: none;
}
.login_form_field:focus {
  outline: none;
}
.login_form_submit {
  background-color: #6d0cff;
  border: none;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color ease-out 0.3s;
}
.login_form_submit:hover {
  background-color: #6103ee;
}

.bignav {
  width: 100%;
  padding-top: 5px;
}
.bignav .title {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 30pt;
  font-weight: 400;
  font-family: "Nanum Myeongjo", serif;
}

.post {
  display: flex;
  flex-direction: row;
}
.post-primary {
  position: relative;
}
.post-primary a:first-of-type {
  width: 100%;
}
.post-primary .post_img {
  width: 100%;
  height: 600px;
  filter: brightness(60%);
}
.post-primary .post_info {
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.8);
}
.post-primary .post_title {
  font-size: 30pt;
  font-weight: 700;
  color: #ffffff;
}
.post_img {
  width: 200px;
  height: 125px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.post_info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.7);
  font-size: 11pt;
}
.post_title {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 3px;
  color: #000000;
  font-size: 18pt;
  font-weight: 500;
}

.elevation_anim {
  transition: box-shadow 0.2s ease;
}
.elevation_anim_1:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.elevation_anim_2:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.elevation_anim_3:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.elevation_anim_4:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.elevation_anim_5:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.elevation_1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.elevation_2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.elevation_3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.elevation_4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.elevation_5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
